<a href="/">Back Home</a>
<form action="/edit/part/<%= item_info.id %>" method="POST">
  <label for="part_name">
    Part Name:
    <input
      type="text"
      name="part_name"
      id="part_name"
      value="<%= item_info.part_name %>"
      required
    />
  </label>
  <label for="brand_id">
    Brand:
    <select name="brand_id" id="brand_name">
      <% brand_categories.forEach((brand) => { %>
      <option value="<%= brand.brand_id %>"
      <% if (item_info.brand_id === brand.brand_id) { %>
        selected
      <% } %>
      ><%= brand.brand_name %></option>
      <% }) %>
    </select>
  </label>
  <label for="model_id">
    Model:
    <select name="model_id" id="model_id">
      <% model_names.forEach((model) => { %>
      <option value="<%= model.id %>"><%= model.model_name %></option>
      <% }) %>
    </select>
  </label>
  <label for="part_imageUrl">
    Part Image-Url:
    <input
      type="url"
      name="part_imageUrl"
      id="part_imageUrl"
      value="<%= item_info.part_imageurl %>"
      required
    />
  </label>
  <label for="part_price">
    Price: $
    <input
      type="number"
      name="part_price"
      id="part_price"
      value="<%= item_info.part_price %>"
      required
    />
  </label>
  <label for="part_description" id="part_description"> Description: </label>
  <textarea name="part_description" id="part_description">
<%= item_info.part_description %>
</textarea
  >
  <label for="part_quantity">
    Quantity:
    <input
      type="number"
      name="part_quantity"
      id="part_quantity"
      value="<%= item_info.part_quantity %>"
      required
    />
  </label>
  <label for="part_oem">
    OEM:
    <input type="checkbox" name="part_oem" id="part_oem" 
    <% if (item_info.oem) {%>
        checked="true"
    <%}%>
    />
  </label>

  <button type="submit" id="editSubmitBtn">Confirm Edit</button>
</form>
