<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/global.css" />
  </head>
  <body>
    <%- include('./partials/navBar.ejs') %> <%-
    include('./partials/sideBar.ejs') %>
    <div class="formContent">
      <%if (locals.brandForm) {%> <%- include('./partials/brandForm.ejs') %> <%}
      else if (locals.modelForm) { %> <%- include('./partials/modelForm.ejs') %>
      <%} else if (locals.item_info) { %> <%- include('./partials/editForm.ejs')
      %> <%} else { %> <%- include('./partials/errors.ejs') %> <%}%>
    </div>
  </body>
</html>
